
.App{
  margin:0 auto;
  text-align: center;
  /* background-color: black; */
}
/* 
@media screen and (max-width:1200px){
  .App{
    margin:0 auto;
    width:98%;
    text-align: center;
    /* background-color: black; */
