.board{
  padding:15px;
  box-sizing: border-box;
  /* background-color: beige; */
  display:grid;
  grid-template-columns: 1fr 3fr;
  box-sizing: border-box;
}
.num-of-car{
  color: #b70f28;
}
.left{
  background-color: cadetblue;
  min-width: 260px;
}


.right>h1{
  /* background-color: aqua; */
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top:0;
}

.right-down{
  /* background-color: crimson; */
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  max-height : 6000px;
  height:100vh;
  overflow-y: scroll;
  min-width: 1100px;
}
/* 스크롤바 스타일링 */
.right-down::-webkit-scrollbar{
  width:3px;
  
  /* 전체 두께 */
  /* background-color: black; */
}
.right-down::-webkit-scrollbar-thumb{
  /* 현재 부분 색 */
  background-color: #2f3542;
}
.right-down::-webkit-scrollbar-track{
  /* 나머지 부분 색 */
  background-color: grey;
}

.post{
  width:92%;
  min-width: 240px;
  height:310px;
  /* background-color: blueviolet; */
  text-align: center;
  margin-top: 4%;
  margin-left:5%;
}

.post>.img:hover{
  transform:translateY(-2px);
  box-shadow: 2px 2px 7px black;
  transform: scale(1.015);
}

.post>.img{
  margin:5px auto 10px;
  width:90%;
  height:60%;
  /* background-color: beige; */
  border-radius: 8%;
  overflow: hidden;
  transition:0.4s;
}
.img img{
  width:100%;
  height: 100%;
}

.car-info{
  margin-top: 12px;
}

.car-info span{
  display:block;
  margin-bottom: 2px;
  /* background-color: aquamarine; */
  height : 30px;
}


@media screen and (max-width:1001px){
  .board{
    grid-template-columns: 1fr;
  }
  .left{
    width:0px;
  }
  .right-down{
    grid-template-columns: 1fr 1fr;
    height:150vw;
    min-width: 0px;
  }
  .post{
    min-width: 330px;
    margin-left:10px;
  }
}

@media screen and (max-width:540px){
  .right-down{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    height: calc(200vw - 120px);
    min-height: 450px;
    min-width: 0px;
  }
  .post{
    min-width: 0px;
  }
}
